/* HEADER */ 
header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #6a29b4; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 100; 
} 
/* NAVIGATION LIST */ 
header ul { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
header ul li { 
    margin-left: 35px; 
} 
/* NAV LINKS */ 
nav a { 
    text-decoration: none; 
    font-size: 18px; 
    color: rgb(253, 250, 250); 
} 
/* BODY SPACING */
body { 
    margin: 0; 
    padding-top: 100px; 
} 
/* BACKGROUND SECTION */ 
.name { 
    background-image: url("Background\ Template.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    padding: 100px 20px;
}
